# Node modules
node_modules/
.angular/

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env

# Angular build artifacts
dist/
build/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp